<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>

	<body>
		<h1>Welcome to Craigslist Scraper, <%= @user.email %></h1>

		<p>
			You have successfully signed up to Craigslist Scraper!
			Your username is: <%= @user.email %>.<br/>
		</p>

		<p>
			To login to the site, just follow this link: 
		</p>

		<p> Thanks for using this application! Have a wonderful day!
		</p>

	</body>

</html>