<h1>Hello Rails!</h1>
<%= link_to "Saved Searches", searches_path %> 
<!-- searches_path runs the searches_controller.rb file -->
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>