

if (!($ = window.jQuery)) { // typeof jQuery=='undefined' works too  
	script = document.createElement( 'script' );  
script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js';  
script.onload=createAndRenderPopout;  
document.body.appendChild(script);  
}  
else {  
	createAndRenderPopout();  
}  

var bookmark_insides;

function createDivs() {
	bookmark_insides = "<div id=\"nishabookmark_lightbox\" style=\"width:100%; height:100%; background-color:rgba(0,0,0,0.5); position:fixed; top:0; left:0;\"> <div id=\"bookmark\" style=\"width:300px; height:200px; margin:0 auto; background-color:#fff; border:1px solid #ccc; border-radius:5px; border-top:none; padding:25px; position:fixed; left:40%; top:40%; text-align:center; box-shadow:0 0 25px #111;\"> <form name=\"Bookmark\" action=\"http://localhost:3000/searches\" method=\"post\"> Bookmark Name: <input type=\"text\" name=\"bookmarkname\"><br><input type=\"checkbox\" name=\"sms\" value=\"SMS\">Notify me via SMS<br><input type=\"checkbox\" name=\"email\" value=\"Email\">Notify me via email<br><input type=\"hidden\" name=\"url\" value=\"" + window.location.href + "\"><input type=\"submit\" value=\"Submit\"></form></div></div>";

}

function displayDivs(){
	$("body").append(bookmark_insides);
		

}

function createAndRenderPopout() {
			if ($("#bookmark").length == 0){
				createDivs();
				displayDivs();

	}
}
