

if (!($ = window.jQuery)) { // typeof jQuery=='undefined' works too  
	script = document.createElement( 'script' );  
script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js';  
script.onload=createAndRenderPopout;  
document.body.appendChild(script);  
}  
else {  
	createAndRenderPopout();  
}  

function createDivs() {
	
        $("body").append("<div id=\"bookmark\" style=\"width:300px; margin:0 auto; height:200px; background-color:green; text-align:center; box-shadow:10px 10px 5px #888888;\"> Insert form into this box </div>")

		
	}

function displayDivs(){
	
		

}

function createAndRenderPopout() {
			if ($("#bookmark").length == 0){
				createDivs();

	}
}
