if (!($ = window.jQuery)) { // typeof jQuery=='undefined' works too  
	script = document.createElement( 'script' );  
script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js';  
script.onload=createAndRenderPopout;  
document.body.appendChild(script);  
}  
else {  
	createAndRenderPopout();  
}  

var bookmark_insides;

function createStyles() {
	return $( "<style>" ).append(
		"#nishabookmark_lightbox { width:100%;							\
								   height:100%; 						\
								   background-color:rgba(0,0,0,0.5); 	\
								   position:fixed; 						\
								   top:0; 								\
								   left:0; 								\
								}										\
		#bookmark { width:300px; 										\
					height:200px; 										\
					margin:0 auto; 										\
					background-color:#fff; 								\
					border:1px solid #ccc; 								\
					border-radius:5px; 									\
					border-top:none; 									\
					padding:25px; 										\
					position:fixed; 									\
					left:40%; 											\
					top:40%; 											\
					text-align:center; 									\
					box-shadow:0 0 25px #111;							\
		}"
	)

}
function createDivs() {
	var $div = $("<div></div>")
			.attr("id", "nishabookmark_lightbox")

	$div.append($("<div></div>").attr("id", "bookmark"));
	
	$div.find("#bookmark").append($("<form></form>")
										.attr("name", "bookmark")
										.attr("method", "post")
										.attr("action", "http://localhost:3000/searches")	
										);
	var $form = $div.find("form")
	//			.attr("name", "bookmark")
	//			.attr("method", "post")
	//			.attr("action", "http://localhost:3000/searches")

	$form.append("Bookmark Name: <input type=\"text\" name=\"bookmarkname\"><br>")
	$form.append("<input type=\"hidden\" name=\"authenticity_token\" value=\"<%=form_authenticity_token()%>\">")
	$form.append("<input type=\"checkbox\" name=\"sms\" value=\"SMS\">Notify me via SMS<br>")
	$form.append("<input type=\"checkbox\" name=\"email\" value=\"Email\">Notify me via email<br>")
	$form.append("<input type=\"hidden\" name=\"url\" value=\"" + window.location.href + "\">")
	$form.append("<input type=\"submit\" value=\"Submit\">")

	return $div
}
	var request; //variable to hold request
//bind request to the submit event of the bookmark form
$("#bookmark").submit(function(){
	if (request){
		request.abort(); //abort any pending request
	}
//try to send url to searches table
	var $form = $(this);
	var $inputs = $form.find(':input').val();
	var serializedData = $form.serialize();

	$inputs.prop("disabled", true); //cannot enter information in the bookmark name as the ajax request is happening
//need to separate this post requests...i think...
	var request = $.ajax({
		type:'POST',
		url: 'http://localhost:3000/searches',
		xhrFields: {withCredentials: true}, //keeps the cookies when crossing domains
		success: function(){
			success = true;
			$("#bookmark").hide();
		},
		data: serializedData
	});

	request.fail(function (response, textStatus, jqXHR){
		console.error("There has been an error: "+
		textStatus, errorThrown //error will be logged
	);
	}	);

		request.always(function (){
			$inputs.prop("disabled", false); //allows us to try again after it has failed
	});

		return false; //do not want the form to be posted by default
	});


	//Trigger AJAX here
	// then hide / close the pop out on success.
	// Additionally, your element names of "#bookmark" aren't very unique. You might run
	// into ID colissions with peoples pages.
	//
	// you want to use $(this).attr("action") to get the URL you're posting to.
	// in the above, "this" is the form that was just submitted.

function displayDivs(){
	$("head").append(createStyles());
	$("body").append(createDivs());


}

function createAndRenderPopout() {
	if ($("#bookmark").length == 0){
		createDivs();
		displayDivs();

	}
}
